/*--------------------------*/
/* BASIC STYLES */
/*--------------------------*/

body {
	background-color: rgba(46, 85, 40, 0.19);
}

html, body, .main-container {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'amatic sc', arial, sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

button, li, span {
	font-family: 'amatic sc', arial, sans-serif;
}

li {
	list-style: none;
	text-decoration: none;
}


/*------------------------------*/
/*  INFORMATION HEADER STYLES   */
/*------------------------------*/

.information-header {
	height: 140px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	line-height: 80px;
	padding: 20px;
	font-size: 4em;
}


.information-header:after {
	content: " ";
	padding-top: 18px;
	border-bottom: 1px solid #000;
	width: 100%;
	display: block;
}


/*------------------------------*/
/*  GAME CONTAINER STYLES   */
/*------------------------------*/

.game-container {
	height: 620px;
	position: relative;
	top: 0;
	left: 0;
}

/*------------------------------*/
/*  QUESTION CONTAINER STYLES   */
/*------------------------------*/

.question-container {
	height: 800px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 98;
/*	visibility: hidden;  Temporarily hiding question box */
}

.active-question {
	text-align: center;
}

.active-question > h2 {
	padding-top: 30px;
	width: 80%;
	margin: 0 auto;
/*	min-width: 400px;*/
	height: 100px;
	word-wrap: break-word;
}

.active-question > ul {
	display: table;
	width: 100%;
	margin: 0 auto 40px;;
	height: 380px;
	color: #fff;
}

.active-question li {
/*	display: table-cell;*/
/*	border-radius: 8px;*/
/*	padding-top: px;*/
	font-size: 2em;
	width: 42.5%;
	max-width: 450px;
	height: 180px;
	display: inline-block;
	margin: 20px 20px;
}

.active-question li span {
	height: 180px;
/*	border-radius: 18px;*/
	display: block;
	line-height: 160px;
	width: 100%;
	z-index: 2;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.active-question li span:hover {
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}


.active-question button {
	width: 340px;
	height: 110px;
	background-color: #008000;
/*	border-radius: 18px;*/
	color: #fff;
	font-size: 2.5em;
	text-transform: uppercase;
	padding: 10px;
}

.active-question button:hover {
	background-color: rgb(79, 214, 90);
	transition: background-color 1s;
}

/*------------------------------*/
/*  HIDDEN ANSWER OVERLAY STYLES   */
/*------------------------------*/

.hidden-answer-overlay {
	height: 800px;
	text-align: center;
	display: none;
	background-color: rgba(0, 0, 0, 0.93);
	position: relative;
	top: -800px;
	left: 0;
	z-index: 99;
}

.hidden-answer-overlay > h2 {
	width: 80%;
	margin: 0 auto;
	font-size: 3.2em;
	padding-top: 50px;
	height: 130px;
	word-wrap: break-word;
	color: #fff;
}

.hidden-answer-overlay > h1 {
	height: 100px;
	font-size: 3.2em;
	padding: 30px 0 0;
	color: #fff;
}

.hidden-answer-overlay > button {
	margin-top: 40px;
	padding: 20px 20px;
	font-size: 2.5em;
	background-color: firebrick;
	border: 1px solid #000;
	color: #fff;
}

/*------------------------------*/
/*  GAME START OVERLAY STYLES   */
/*------------------------------*/

.game-start-overlay {
	height: 800px;
	text-align: center;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.93);
	position: relative;
	top: -1600px;
	left: 0;
	z-index: 100;
}

.game-start-overlay > button {
	margin-top: 180px;
	width: 8em;
	height: 8em;
	border-radius: 50%;
/*	padding: 20px 20px;*/
	font-size: 3em;
	text-transform: uppercase;
	background-color: #008000;
	border: 1px solid #000;
	color: #fff;
}

.game-start-overlay > button:hover {
	background-color: rgb(79, 214, 90);
	transition: background-color 1s;
}


/*------------------------------*/
/*  SCORE UPDATE CONTAINER STYLES   */
/*------------------------------*/

.score-container {
	height: 160px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.33);
	color: rgba(165, 50, 50, 0.984);
}

/*------------------------------*/
/*  SCORE KEEPER STYLES   */
/*------------------------------*/

.score-keeper {
	height: 160px;
	z-index: 1;
/*	visibility: hidden;*/
}

.score-keeper > h2 {
	padding: 40px 20px;
	font-size: 3em;
}


/*------------------------------*/
/*  HIDDEN QUIZ CATEGORY STYLES   */
/*------------------------------*/

.hidden-category-overlay{
	position: relative;
	top: -160px;
	height: 260px;
	background-color: black;
	display: none;
	z-index: 99;
}

.hidden-category-overlay button {
	margin: 40px 20px;
	padding: 20px;
	font-size: 2.5em;
	width: 340px;
	text-align: center;
	color: #fff;
	background-color: transparent;
}












