/*--------------------------*/
/* BASIC STYLES */
/*--------------------------*/

html, body, .main-container {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.5em;
}

/*
section, div {
	border: 1px solid red;
}
*/

li {
	list-style: none;
	text-decoration: none;
}


/*------------------------------*/
/*  INFORMATION HEADER STYLES   */
/*------------------------------*/

.information-header {
	height: 170px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	padding: 20px;
}

span {
	vertical-align: middle;
}

.information-header h2 {
	font-size: 2.3em;
}

.fa-play {
	color: lawngreen;
	font-size: 1.65em;
	vertical-align: middle;
}

.information-header:after {
	content: " ";
	padding-top: 18px;
	border-bottom: 1px solid #000;
	width: 100%;
	display: block;
}




/*------------------------------*/
/*  GAME CONTAINER STYLES   */
/*------------------------------*/

.game-container {
	height: 560px;
	position: relative;
	top: 0;
	left: 0;
}







/*------------------------------*/
/*  QUESTION CONTAINER STYLES   */
/*------------------------------*/

.question-container {
	height: 560px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
/*	visibility: hidden;  Temporarily hiding question box */
}

.active-question {
	text-align: center;
}

.active-question > h2 {
	padding-top: 30px;
	width: 50%;
	margin: 0 auto;
/*	min-width: 400px;*/
	height: 100px;
	word-wrap: break-word;
}

.active-question > ul {
	display: table;
	width: 100%;
	margin: 0 auto;
	height: 430px;
}

.active-question li {
	display: table-cell;
	font-size: 2em;
	width: 42.5%;
	max-width: 450px;
	height: 140px;
	display: inline-block;
	margin: 20px 20px;
	background-color: orangered;
}

/*------------------------------*/
/*  HIDDEN ANSWER OVERLAY STYLES   */
/*------------------------------*/

.hidden-answer-overlay {
	height: 560px;
	text-align: center;
	display: none;
	background-color: rgba(0, 0, 0, 0.93);
	position: relative;
	top: -560px;
	left: 0;
	z-index: 99;
}

.hidden-answer-overlay > h2 {
	width: 80%;
	margin: 0 auto;
	font-size: 3.2em;
	padding-top: 50px;
	height: 130px;
	word-wrap: break-word;
	color: #fff;
}

.hidden-answer-overlay > h1 {
	height: 100px;
	font-size: 3.2em;
	padding: 30px 0 0;
	color: #fff;
}

.hidden-answer-overlay > button {
	margin-top: 40px;
	padding: 20px 20px;
	font-size: 2.5em;
	background-color: firebrick;
	border: 1px solid #000;
	color: #fff;
}


/*------------------------------*/
/*  SCORE UPDATE CONTAINER STYLES   */
/*------------------------------*/

.score-container {
	height: 260px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.33);
	color: rgba(165, 50, 50, 0.984);
}

/*------------------------------*/
/*  SCORE KEEPER STYLES   */
/*------------------------------*/

.score-keeper {
	height: 260px;
	z-index: 1;
/*	visibility: hidden;*/
}

.score-keeper > h2 {
	padding-top: 80px;
	font-size: 3em;
}


/*------------------------------*/
/*  HIDDEN QUIZ CATEGORY STYLES   */
/*------------------------------*/

.hidden-quiz-category-selector {
	position: relative;
	top: -260px;
	height: 260px;
	background-color: black;
	display: none;
	z-index: 99;
}

.hidden-quiz-category-selector button {
	margin: 60px 40px;
	padding: 20px;
	font-size: 2.5em;
	width: 340px;
	text-align: center;
	color: #fff;
	background-color: transparent;
}












